@charset "UTF-8"

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffeecc;
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, #007e45, #004929);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0;
}
header > h1{
    margin: 0px;
    padding: 0px;
    font-size: 1.5em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.575);
}
nav{
    text-align: center;
    padding: 10px;
    background-color: rgb(0, 44, 0);
}
nav > a{
    padding: 8px 20px;
    color: rgb(199, 199, 199);
    background-color: rgb(0, 56, 23);
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    transition-duration: .5s;
}
nav > a:hover{
    color: yellow;
    background-color: black;
}
#paragrafo-1{
 display: none;
}
main{
    background-color: white;
    min-width: 150px;
    max-width: 800px;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}
h2{
    color: rgb(0, 121, 26);
    font-family: 'AnotherDayV2', Arial, Helvetica, sans-serif;
}
p{
    text-align: justify;
}
footer{
    background-color: rgb(0, 63, 19);
    text-align: center;
    padding: 5px;
    color: white;
}
footer > p{
    margin: 0px;
    text-align: center;
}
footer a{
    text-decoration: none;
    color: aqua;
}
footer a:hover{
    color: burlywood;
    text-decoration: underline;
}
div{
    margin: auto;
    width: 560px;
    height: 315px;
}
img{
    width: 100%;;
}

iframe{
    background-color: #007e45;
    padding: 10px;
    width: 100%;
    margin: auto;
    display: block;
    box-sizing: border-box;
}
.ul-col-2{
    columns: 2;
}